!!! 5
html
  head
    include ./../head
    title 话题 - 前端乱炖
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    style
      
  body#topics
    - locals.pageId=10;
    include ./../header
    #content.clearfix
      .left
        .actions
          a.btn(href="/topic/add") <i class="icon-plus icon-white"></i>添加一枚话题
        if locals.topics
          .topic-list
            each topic,i in topics
              .topic-item(class="#{i%2==1?'yooo':''} #{topic.answer_count==0?'':''}")
                
                
                .entry-title
                  h1.title
                    
                    a(href='/topic/#{topic.id}', title='#{topic.title}', rel='bookmark') 
                      |#{topic.title}
                    if topic.answer_count == 0
                      span.label.tip.new New
                    else if topic.answer_count >=7 || topic.is_hot
                      span.label.tip.hot HOT
                    else if topic.sort == 10000
                      span.label.tip.top 置顶
                  div.others
                    //
                      span.author.vcard.item
                        span.index 提问者：
                        a.value.url.fn(rel='author', href='/user/#{topic.user_id}') #{topic.user_nick}
                    
                    span.views.item
                      span.index View：
                      a.value #{topic.visit_count}
                    span.views.item
                      span.index 跟帖：
                      a.value #{topic.comment_count}
                    span.time.item
                      a.value 发布于：#{moment(topic.createdAt).fromNow()}
                    if topic.last_comment_user_id
                      span.time.item
                        span.value 最后由 <a href="/user/#{topic.last_comment_user_id}">#{topic.last_comment_user_nick}</a> 回复于 #{moment(topic.last_comment_time).fromNow()}
                    if topic.tagNames
                      - var tags = topic.tagNames.split(",")
                      span.tags.item
                        each tag in tags
                          a.value(href="/tag/n/#{tag}") #{tag}
                    
                    if locals.user&&locals.user.is_admin
                      span.actions.item
                        span.index 操作：
                        if topic.sort ==10000
                          a(href="/topic/#{topic.id}/update?sort=#{topic.id}") 取消置顶
                        else
                          a(href="/topic/#{topic.id}/update?sort=10000") 置顶
                        a(href="/topic/#{topic.id}/update?is_hot=1") hot
                        a(href="/topic/#{topic.id}/update?is_hot=0") nohot
                  div.user
                    a(data-original-title="#{topic.user_nick}")
                      img(src="#{topic.user_headpic}")
                      if topic.user&&topic.user.sex
                        if topic.user.sex == '男'
                          .sex.nan
                        else
                          .sex.nv  
        include ../page
      .right
        .module
          .bd 
            .item 话题用于闲散轻松的讨论，无太多限制。
        
        
    script
      $('.user a').tooltip({
          placement:"bottom"
      })
                
    include ../footer
