!!! 5
html
  head
    include ./../head
    title #{topic.title} 前端乱炖-话题
    link(href='#{assets_head}/css/Markdown.Editor.css', type='text/css', rel='stylesheet', charset='utf-8')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-transition.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-modal.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/Markdown.Converter.js')
    script(src='#{assets_head}/js/Markdown.Sanitizer.js')
    script(src='#{assets_head}/js/Markdown.Editor.js')
    
    style
      #insertImageDialog { display:none; padding: 10px; position:absolute;width:400px;}
      #insertImageDialog h4 { margin-bottom: 10px; }
      #insertImageDialog input[type=text] { width: 260px; }
      #insertImageDialog .loading-small { display:none; float: left; padding-right: 5px; }
   
  body#topic
    - locals.pageId=10;
    include ./../header
    #content.clearfix
      .left
        .module.main
          .topic-title
            .title #{topic.title}
          .topic-content
            .desc !{topic.html.replace(/<code>/g,"<code class='language-javascript'>")}
          .topic-user.clearfix
            .action
              if locals.user
                a(href="/topic/#{topic.id}/edit") <i class="icon-pencil icon-gray"></i>编辑
              a#bdshare.bdshare_t.bds_tools.get-codes-bdshare(style="float:none;") 
                span.bds_more(style="background:none !important;float:none;display:inline;padding:0;") 分享
            .user
              img(src="#{topic.user_headpic}")
              .nick
                a(href="/user/#{topic.user_id}") #{topic.user_nick} 
                em(title="经验值") #{topic.user.coin||0}
              .time #{moment(topic.createdAt).fromNow()}
        .topic-comments.module
          .hd 跟帖
          .bd 
            if !comments.length
              div 暂无
            else
              .comment-list
                each ans,i in comments
                  if !ans.is_unused
                    .comment-item.clearfix(id="comment-#{ans.id}",style="opacity:#{(40-i)/40}")
                      .ans-user.clearfix
                        a.user(href="/user/#{ans.user_id}")
                          img(src="#{ans.user_headpic}")
                          if ans.user&&ans.user.sex
                            if ans.user.sex == '男'
                              .sex.nan
                            else
                              .sex.nv
                          //.nick #{ans.user_nick}
                          //.time #{moment(ans.createdAt).fromNow()}
                        
                      .ans-con 
                        .con-hd 
                          a(href="/user/#{ans.user_id}") #{ans.user_nick}
                          |<span style="color:#999;">(#{moment(ans.createdAt).fromNow()})</span>
                        .con-bd !{ans.html.replace(/<code>/g,"<code class='language-javascript'>")}
                        .con-action
                          //
                            if locals.user && (locals.user.id == ans.user_id||locals.user.is_admin)
                              a.edit(href="/topic/comment/#{ans.id}/edit") <i class="icon-pencil icon-gray"></i>编辑
                          a.reply(href="",data-md="#{ans.md}",data-nick="#{ans.user_nick}") <i class="icon-retweet-2 icon-gray"></i>引用
                          a(target="_blank",href="http://service.weibo.com/share/share.php?url=#{encodeURIComponent("http://www.html-js.com/topic/"+topic.id+"#comment-"+ans.id)}&title=分享自@前端乱炖 的精彩跟帖【#{topic.title}】#{ans.user_nick}：#{ans.md.replace(/>/g,'').substr(0,100)}&appkey=659341943") 分享
                      .ans-lou #{(locals.page-1)*30+i+1} 楼
              include ../page
        .add-comment.module
          .hd 说几句
          .publish.bd 
            form.form-horizontal#form(method='post')
              fieldset
                .fake-form
                  textarea(placeholder="支持markdown语法")
                .real-form.hidden
                  .control-group
                    .wmd-panel
                      #wmd-button-bar
                      textarea.wmd-input#wmd-input(name="md",placeholder='请用心回答。',style="height:200px;")
                      .wmd-panel.wmd-preview
                        #wmd-preview
                  .control-group
                    button.btn#submit(type='submit') 发表
            #myModal.modal.hide.fade.
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">插入图片</h3>
              </div>
              <div class="modal-body">
                  <input type="file" name="pic" id="file" />
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary">插入</button>
              </div>
      .right
        .module.count
          .bd
            span 浏览数：#{topic.visit_count}
            span 跟帖数：#{topic.comment_count}
        .module.share
          .hd 分享
          .bd 
            div#bdshare.bdshare_t.bds_tools.get-codes-bdshare.clearfix(style="width:300px;margin-top:10px;float:none;margin-left:0px;")
              a.bds_tsina
              a.bds_qzone
              a.bds_tqq
              a.bds_douban
              a.bds_renren
              a.shareCount
        
    script#comment-tpl(type="text/template")
      .comment-item.clearfix
        div.con 
          span.author.vcard.item
            a.value.url.fn(rel='author', href='/user/{{user.id}}') {{user.nick}}：
          span.content {{{content}}}
          span.time {{createdAt}}
          span.action 
            a.reply(data-nick="{{user.nick}}") 回复
    script#comment-tpl-q(type="text/template")
      .comment-item.clearfix
        a.headpic
          img(src="{{user_headpic}}",width=70,height=70)
        .comment-right
          div.con 
            span.author.vcard.item
              a.value.url.fn(rel='author', href='/user/{{user_id}}') {{user_nick}}：
            | {{{html}}}
          .time {{createdAt}} 
            a.reply(data-nick="{{user_nick}}") 回复
    script(src='#{assets_head}/js/ajaxfileupload.js')
    script(src='#{assets_head}/js/loadingTip.js')
    script(src='#{assets_head}/js/messageTip.js')
    script(src='#{assets_head}/js/mustache.js')
    script(src='#{assets_head}/js/moment.js')
    script
      $('.zan').tooltip({
          placement:"bottom"
      })
      var comment_tpl = $("#comment-tpl").html()
      var comment_tpl_1 = $("#comment-tpl-q").html()
      $(".zan").click(function(e){
        e.preventDefault();
        var self=this;
        $.ajax({
          url:"/topic/comment/"+$(this).attr("data-id")+"/zan",
          type:"post",
          dataType:"json",
          success:function(data){
          if(data.isnotlogin){
              alert("请先登录")
                window.location.href="/user/login"
            }else if(data.success){
              $("em",self).html(data.comment.zan_count)
            }else{
              alert(data.info)
            }
            
          }
          })
        })
      moment.lang('zh-cn')
      $(".reply").click(function(e){
        e.preventDefault();
        var md = $(this).attr("data-md");
        var nick = $(this).attr("data-nick");
        $(".real-form textarea").val("引用自：@"+nick+"：\n"+"> "+md.replace(/\n/g,"\n> "))
        editor1.refreshPreview();
        $(".fake-form").addClass("hidden")
        $(".real-form").removeClass("hidden")
        $(".real-form textarea").focus();
        $(".real-form textarea")[0].setSelectionRange($(".real-form textarea")[0].value.length, $(".real-form textarea")[0].value.length)
        })
      $(".con-comments").click(function(e){
        if($(e.target).hasClass("reply")){
          $("textarea",this).val("@"+$(e.target).attr("data-nick")+" ").focus()
          $("textarea",this)[0].setSelectionRange($("textarea",this)[0].value.length, $("textarea",this)[0].value.length)
        }
        })
      
      $(".fake-form textarea").click(function(){
        $(".fake-form").addClass("hidden")
        $(".real-form").removeClass("hidden")
        $(".real-form textarea").focus();
        })
      if(localStorage.getItem("textarea_topic_#{topic.id}")){
      $(".fake-form").addClass("hidden")
        $(".real-form").removeClass("hidden")
        $(".real-form textarea").focus();
      }
      var converter1 = Markdown.getSanitizingConverter();
      var editor1 = new Markdown.Editor(converter1);
      editor1.run();
      var converter2 = new Markdown.Converter();

      converter2.hooks.chain("preConversion", function (text) {
          return text.replace(/\b(a\w*)/gi, "*$1*");
      });
      
      converter2.hooks.chain("plainLinkText", function (url) {
          return "This is a link to " + url.replace(/^https?:\/\//, "");
      });
      $("#wmd-input").val(localStorage.getItem("textarea_topic_#{topic.id}"))
      $("#wmd-input").keyup(function(){
        localStorage.setItem("textarea_topic_#{topic.id}",this.value)
        })
      $("#form").submit(function(e){
        e.preventDefault()
          HtmlJS.util.ajax("/topic/#{topic.id}/add",$("#form").serialize(),"post",function(data){
            if(data.success){
              localStorage.setItem("textarea_topic_#{topic.id}","")
              window.location.href="/topic/#{topic.id}"
            }else{
              alert(data.info)
            }
          },function(){

          },$("#submit"),function(){
            HtmlJS.util.ajax("/topic/#{topic.id}/add",$("#form").serialize(),"post",function(data){
              if(data.success){
                localStorage.setItem("textarea_topic_#{topic.id}","")
                window.location.href="/topic/#{topic.id}"
              }else{
                alert(data.info)
              }
            },function(){

            },$("#submit"),function(){
              
            })
          })
       
      })
      editor1.hooks.set('insertImageDialog', function(callback) {
        $("#myModal").modal("show");
        $("#file")[0].onchange=function(){
          $.ajaxFileUpload({
            url:"/upload", 
            secureuri:false,
            fileElementId:'file',
            dataType: 'json',
            success: function (data, status)
            {
              if(data.success){
                callback(data.data.filename)
                $("#myModal").modal("hide");
              }else{
                messageTip.show(data.info)
                
              }
              loadingTip.hide()
            },
            error:function(){
              
              loadingTip.hide()
            }
          })
        };
        return true; // tell the editor that we'll take care of getting the image url
      });   
      $("#q_comment_add").click(function(e){
        e.preventDefault()
        var con_comments= $("#q_comment_con")
        if(con_comments.hasClass("hidden")){
          loadingTip.show("努力加载中")
          HtmlJS.util.ajax("/comment/topic_"+$(this).attr("data-topic-id")+"",{},"get",function(data){
              if(data.success){
                if(data.comments.length>0){
                $(".comment-list",con_comments).html("")
                }else{
                $(".comment-list",con_comments).html("暂无评论")
                }
                data.comments.forEach(function(comment){
                  comment.createdAt=moment(comment.createdAt).fromNow();
                  var html = Mustache.render(comment_tpl_1,comment);
                  
                  $(".comment-list",con_comments).append(html)
                  })
              }else{
                alert(data.info)
              }
              con_comments.removeClass("hidden")
                loadingTip.hide("努力加载中")
            },function(){
              loadingTip.hide("努力加载中")
            })
        }else{
          con_comments.addClass("hidden")
        }
        
          
        }) 
      $("#q_comment_submit").click(function(){
        loadingTip.show("努力提交中")
          var self = this;
        HtmlJS.util.ajax("/comment/add",{md:$("#q_comment_content").val(),target_id:"topic_#{topic.id}"},"post",function(data){
            if(data.success){
              if($("#q_comment_list .comment-item").length==0){
                $("#q_comment_list").html("")
              }
              data.comment.createdAt=moment(data.comment.createdAt).fromNow();
                var html = Mustache.render(comment_tpl_1,data.comment);
                
                $("#q_comment_list").append(html)
                $("#q_comment_content").val("")
            }else{
              alert(data.info)
            }
            loadingTip.hide("努力加载中")
          },function(){
            loadingTip.hide("努力加载中")
          },$(this),function(){
            
        })
        })
    p.
      <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      var bds_config={"bdText":"【分享自@前端乱炖 的精彩话题【#{topic.title}】#{topic.user_nick}：#{topic.md.substr(0,100)}","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
    include ../footer
