!!! 5
html
  head
    include ./../head
    title 前端乱炖-活动
    style
      #act{
        background:url(http://htmljs.b0.upaiyun.com/images/act1-bg.jpg) no-repeat center top;
        background-attachment:fixed;
      }
  body#act
    - locals.pageId=5;
    include ./../header
    #content.clearfix
      #main_banner.clearfix
        .main_pic
          img(src="http://htmljs.b0.upaiyun.com/images/banner-1.png")
        .infos
          .inner
            div.item 
              span.key 时间：
              span.value #{moment(act.time).format("LLL")}
            div.item  
              span.key 地点：
              span.value #{act.location}
            div.item  
              span.key 规模：
              span.value 限制#{act.person_limit}人
            div.item  
              span.key 分享：
              div.share#bdshare.bdshare_t.bds_tools.get-codes-bdshare.clearfix(style="width:300px;margin-top:10px;float:none;margin-left:70px;")
                a.bds_tsina
                a.bds_qzone
                a.bds_douban
                a.bds_renren
                a.shareCount
      #joiners.module
        .hd 报名（#{joiners.length}/#{act.person_limit}）
        .bd 
          .joiners
            for joiner in joiners
              a(href="/user/#{joiner.user_id}",target="_blank")
                img(src="#{joiner.user_headpic}",width=50,height=50)
            if !joiners.length
              div 还没有人报名，快点抢占吧！
          .me-join
            a#join_submit.btn() 我也要报名
            p
              .alert 希望报名后可以准时参加，现场会签到记录。
      #supporters.module
        .hd 赞助商
        .bd 
          p.alert 活动中产生的吃喝费用，场地费用，讲师补贴。由第三方企业赞助。谢谢他们对前端事业的支持。
            a(href="") 我是企业我要赞助 
            a(href="") 个人赞助
          .logos.
            !{act.partner}
            
      #speaker.module
        .hd 讲师&主题
        .bd.clearfix 
          .head_pic
            img(src="http://img02.taobaocdn.com/tps/i2/T1OA6hXgxbXXXMNuYv-150-150.jpg",width="150")
          .infos
            h2.who 
              | <em>莫大（孙悟空）</em>
              a.btn(href="",target="_blank") 他的名片
            .topic 主题：<em>《第一次分享第一次分享》</em>
            .desc 介绍：五一前我说要把前端乱炖整个改版的，其实我本地已经在跑一个新的前端乱炖了，跟现在的已经完全不是一个东西了，变成了一个平台化的产品，只是自
      #act_desc.module
        .hd 其他信息
        .bd
          
    p.
      <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      var bds_config={"bdText":"《》@前端乱炖","bdPic":"","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
    script
      $("#join_submit").click(function(){
        $.ajax({
          url:"/act/#{act.id}/join",
          dataType:"json",
          type:"post",
          success:function(data){

          if(data.success){
          alert("报名成功！")
            window.location.href=window.location.href;
          }else{
          if(data.isnotlogin){
          window.location.href="/user/login"
          }else{
          alert(data.info)
          }
          
          }
          }
          })
        })
              

