!!! 5
html
  head
    include ./../head
    title 前端乱炖-活动
    style
      #act{
        background:url(http://htmljs.b0.upaiyun.com/images/act1-bg.jpg) no-repeat center top;
        background-attachment:fixed;
      }
  body#acts
    - locals.pageId=5;
    include ./../header
    #content.clearfix
      if !locals.acts || !locals.acts.length 
        .no-act 暂无活动，敬请关注
      else
        for act in acts
          .act-item.clearfix(class="#{act.is_down?'isdown':''}")
            .act-infos
              .ln.act-title 
                a(href="/act/#{act.id}") #{act.title}
              .ln.act-time 时间：#{moment(act.time.getTime()-8000*60*60).format("LLL")}
              .ln.act-location 地点：#{act.location}  
              .ln.act-limit 人数上限：#{act.person_limit}
              .ln.act-action 
                if act.is_down
                  a.btn(href="/act/#{act.id}") 已结束，去看看
                else
                  a.btn(href="/act/#{act.id}") 
                    i.icon-arrow-right
                    |详情，去报名
                if locals.user && user.is_admin
                  a.btn(href="/act/#{act.id}/edit",style="margin-left:10px;") 编辑
    p.
      <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      var bds_config={"bdText":"《》@前端乱炖","bdPic":"","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
              

