!!! 5
html
  head
    include ./../head
    title 前端乱炖-#{tag.name}
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    
  body#tag
    - locals.pageId=8;
    include ./../header
    #content.clearfix
      .left
        .module
          a.tag-name(href="") #{tag.name}
          a.tag-edit(href="/tag/#{tag.id}/edit") <i class="icon-edit icon-gray"></i>
          .tag-keywords 别名：#{tag.keywords}
          .tag-desc !{tag.desc.substr(0,200)}
          .tag-action
        .module
          .hd 相关问题   
          .bd 
            if locals.qts
              .qa-list
                each qt,i in qts
                  .qa-item(class="#{i%2==1?'yooo':''} #{qt.question.answer_count==0?'unanswered':''}")
                    .entry-title
                      h1.title
                        a(href='/qa/#{qt.question.id}', title='#{qt.question.title}', rel='bookmark') 
                          |#{qt.question.title}
                      div.others
                        //
                          span.author.vcard.item
                            span.index 提问者：
                            a.value.url.fn(rel='author', href='/user/#{qt.question.user_id}') #{qt.question.user_nick}
                        
                        span.views.item
                          span.index View：
                          a.value #{qt.question.visit_count}
                        span.views.item
                          span.index 回答：
                          a.value #{qt.question.answer_count}
                        if qt.question.tagNames
                          - var tags = qt.question.tagNames.split(",")
                          span.tags.item
                            each tag in tags
                              a.value(href="/tag/n/#{tag}") #{tag}
                        span.time.item
                          a.value #{moment(qt.question.createdAt).fromNow()}
                      div.user
                        a(data-original-title="#{qt.question.user_nick}")
                          img(src="#{qt.question.user_headpic}")       

      
    script
      $('.user a').tooltip({
          placement:"bottom"
      })
                

