!!! 5
html
  head
    include ./../head
    title 前端乱炖-#{tag.name}
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    
  body#tag
    - locals.pageId=8;
    include ./../header
    #content.clearfix
      .left
        .module
          a.tag-name(href="") #{tag.name}
          a.tag-edit(href="/tag/#{tag.id}/edit") <i class="icon-edit icon-gray"></i>
          .tag-keywords 别名：#{tag.keywords}
          .tag-desc !{tag.desc.substr(0,200)}
          .tag-action
                  

      
    script
      $('.user a').tooltip({
          placement:"bottom"
      })
                

