!!! 5
html
  head
    meta(charset='utf-8')
    title 前端花名册
    link(href='#{assets_head}/css/bootstrap.css', type='text/css', rel='stylesheet', charset='utf-8')
    link(href='#{assets_head}/css/main.css', type='text/css', rel='stylesheet', charset='utf-8')
    link(href='#{assets_head}/css/Markdown.Editor.css', type='text/css', rel='stylesheet', charset='utf-8')
    script(src='#{assets_head}/js/jquery.js')
  body
    - locals.pageId=4;
    include header
    #content
      form.form-horizontal#form(method='post')
        fieldset
          legend 收藏文章
          input(type='hidden', name='type', value="2")
          .control-group
            input#url(type='text', name='quote_url', placeholder='文章在线地址')
          .control-group
            textarea#html.hidden(name="html")
            div.preview_title 标题预览：
            input#preview_title.input-block-level(name='title')
            div.preview_title  内容简介：
            textarea#preview_desc.input-block-level(name="desc")
            div.preview_title  内容预览：
            #preview
          .control-group
            button.btn#submit(type='button') 提交
    script(src='#{assets_head}/js/loadingTip.js')
    script
      function getQueryString(name)
        {
            // 如果链接没有参数，或者链接中不存在我们要获取的参数，直接返回空
            if(location.href.indexOf("?")==-1 || location.href.indexOf(name+'=')==-1)
            {
                return '';
            }
         
            // 获取链接中参数部分
            var queryString = location.href.substring(location.href.indexOf("?")+1);
         
            // 分离参数对 ?key=value&key2=value2
            var parameters = queryString.split("&");
         
            var pos, paraName, paraValue;
            for(var i=0; i<parameters.length; i++)
            {
                // 获取等号位置
                pos = parameters[i].indexOf('=');
                if(pos == -1) { continue; }
         
                // 获取name 和 value
                paraName = parameters[i].substring(0, pos);
                paraValue = parameters[i].substring(pos + 1);
         
                // 如果查询的name等于当前name，就返回当前值，同时，将链接中的+号还原成空格
                if(paraName == name)
                {
                    return unescape(paraValue.replace(/\+/g, " "));
                }
            }
            return '';
        };
        if(getQueryString("url")){
          var url = decodeURIComponent(getQueryString("url"))
          loadingTip.show("远程提取中")
          $.ajax({
          url:"/article/online_to_local",
          type:"post",
          data:{
            url:url
          },
          success:function(data){
            if(data.success){
              $("#title").val(data.data.title)
              $("#html").val(data.data.content)
              $("#preview").html(data.data.content)
              $("#preview_title").val(data.data.title)
              $("#preview_desc").val(data.data.desc)
              $("#url").val(url)
            }else{
              alert(data.info)
            }
            loadingTip.hide()
          },
          error:function(){

          }
        })
        }
      $("#submit").click(function(e){
        if(!$("#preview").html()){
          loadingTip.show("远程提取中")
          $.ajax({
          url:"/article/online_to_local",
          type:"post",
          data:{
            url:$("#url").val()
          },
          success:function(data){
            if(data.success){
              $("#title").val(data.data.title)
              $("#html").val(data.data.content)
              $("#preview").html(data.data.content)
              $("#preview_title").val(data.data.title)
              $("#preview_desc").val(data.data.desc)
            }else{
              alert(data.info)
            }
            loadingTip.hide()
          },
          error:function(){

          }
        })
        }else{
          $.ajax({
          url:"/article/add/recommend",
          type:"post",
          data:$("#form").serialize(),
          success:function(data){
            if(data.success){
              alert("发布成功")
              window.location.href="/read/me"
            }else{
              alert(data.info)
            }
          },
          error:function(){

          }
        })
        }
      });
