!!! 5
html(xmlns:wb='http://open.weibo.com/wb')
  head
    include head
    title 前端乱炖
    script(src='#{assets_head}/js/bootstrap/bootstrap-transition.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-modal.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    style
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js')
  body#articles
    - locals.pageId=1;
    include header
    include article_cats
    #content.clearfix
      .left
        if locals.infos && locals.infos.length
          .module.infos
            .hd 你有#{infos.length}条提醒消息
              a#info_read.right_more(href="") 已阅
            .bd
              for info in locals.infos
                if info.type == 1
                .info-item 
                  a(href="/user/#{info.source_user_id}") #{info.source_user_nick}
                  |访问了您的
                  a(href="#{info.target_path}") #{info.target_path_name} 
                  |（#{moment(info.time).format("LLL")}）
        .module.new_warning
          | 新博客测试中，老博客地址：
          a(href="http://p.html-js.com",target="_blank") 老博客
        .actions
          a.publish(href="/article/add",data-original-title="每个人都可以在这里投稿，审核通过后即可给您提供展示空间和其他渠道的宣传展示") 投递原创文章
          //a.publish(href="/article/add/recommend",data-original-title="每个人都可以在这里投稿，审核通过后即可给您提供展示空间和其他渠道的宣传展示") 推荐在线文章
        //
          .cats
            a(href="/article",class="#{locals.filter_type?'':'active'}") 所有
            for cat,i in cats
              a(href="/article?filter=type|#{i}",class="#{locals.filter_type==i?'active':''}") #{cat}
            a.rss(href="/rss")
              img(src="#{assets_head}/images/rss.png")
        include page
        
        ul.article-list
          each article in articles
            article.post(id="post-#{article.id}")
              .entry-title
                a.headpic(href="/user/#{article.user_id}")
                  img(src="#{article.user_headpic}",width="50",height="50")
                h1.title
                  a(href='/article/#{article.id}', title='#{article.title}', rel='bookmark') 
                    if article.sort == 100000
                      |[置顶]
                    if article.is_yuanchuang == 1
                      |[原创]
                    |#{article.title}
                div.others
                  span.author.vcard.item
                    span.index #{article.quote_url?"推荐者":"作者"}：
                    a.value.url.fn(rel='author', href='/user/#{article.user_id}') #{article.user_nick}
                  span.time.item
                    span.index 时间：
                    a.value #{moment(article.publish_time*1000).format("LLL")}
                  span.views.item
                    span.index View：
                    a.value #{article.visit_count}
                  if article.quote_url
                    span.views.item
                      a.value(href="#{article.quote_url}",target="_blank") 原文链接
              .entry-content !{article.desc||article.html.replace(/<p>(.*?)<\/p>/g,"$1\n").replace(/<[^>]*?>/g,"").substr(0,300).replace(/\n/g,"<br/>")}

              .entry-meta
      .right
        div.module
          .hd 广告
          .bd.
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-8166279959459646";
            /* card 页面广告 */
            google_ad_slot = "4248227757";
            google_ad_width = 300;
            google_ad_height = 250;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        .module.text
          .hd 订阅和交流
          .bd
            p.
              <wb:follow-button uid="1734409185" type="red_3" width="100%" height="24" ></wb:follow-button>
              <wb:follow-button uid="1717808700" type="red_3" width="100%" height="24" ></wb:follow-button>
            p 欢迎加入
            p 前端乱炖情感群:46532005（千人群）
            p 前端乱炖技术群：227896607
            p 前端乱炖求职招聘群：12892863
            p NodeJS乱炖: 95323225（千人群）
            p 自由职业者: 275182059
            p IOS 乱炖: 292062123
        .module.recent
          .hd 近期文章
          .bd
            if locals.recents
              each recent in recents
                div · <a href="/article/#{recent.id}">#{recent.title}</a>
        .module.text
          .hd 微信公众账号
          .bd
            img(src="#{assets_head}/images/qrcode.jpg")
        .module.text
          .hd SSH广告
          .bd
            a(href="https://manager.host700.com/aff.php?aff=043",target="_blank")
              img(src="http://host700.b0.upaiyun.com/ad/300250.jpg")
    script
      $('.actions a').tooltip({
          placement:"bottom"
      })
      $("#info_read").click(function(e){
        e.preventDefault();
        $.ajax({
          url:"/info/read",
          type:"post",
          success:function(){
          setTimeout(function(){
            window.location.href=window.location.href+"";
            },5000)
          
          }
          })
        })
    include footer