!!! 5
html(xmlns:wb='http://open.weibo.com/wb')
  head
    include head
    title 前端乱炖-专栏
    script(src='#{assets_head}/js/bootstrap/bootstrap-transition.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-modal.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    style
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js')
  body#articles
    - locals.pageId=1;
    include header
    include article_cats
    #content.clearfix
      .left
        if !locals.column
          .column-list.clearfix
            .hd 热门专栏
            .bd
              if locals.columns
                each column in columns
                  .column-item 
                    a.title(href="/article/column/#{column.id}") #{column.name}
                    .user.hidden <a href="/user/#{column.user.id}">#{column.user.nick}</a>
                    .others
                      span.item
                        span.key <i class="icon-white icon-list"></i>
                        span.value #{column.article_count}
                      span.item
                        span.key <i class="icon-white icon-eye-open"></i>
                        span.value #{column.visit_count}
                      span.item
                        span.key <i class="icon-white icon-heart"></i>
                        span.value #{column.zan_count}
                      if !column.is_public 
                        span.item 
                          span.key <i class="icon-white icon-lock"></i>
                    .actions.hidden
                      if locals.user.id == column.user.id
                        a 编辑
            .other-column
              a.column-item.more-column(href="/article/column") <i class="icon-white icon-th"></i>更多专栏
              a.column-item.create-column(href="/article/column/add") <i class="icon-white icon-plus"></i>创建专栏
        else
          .column
            .col-title 专栏名：#{column.name}
            .col-user 所有者：#{column.user.nick}
            .col-desc 简 介：!{column.desc_html}
        ul.article-list
          each article in articles
            article.post(id="post-#{article.id}")
              .entry-title
                h1.title
                  a.t-user(href="/user/#{article.user.id}",data-original-title="#{article.user.nick}")
                    img(src="#{article.user.head_pic}",width="20")
                  if article.sort == 100000
                      span.label.tip.top 置顶
                  
                  a(href='/article/#{article.id}', title='#{article.title}', rel='bookmark') #{article.title}
                
              .entry-content.clearfix 
                if article.main_pic
                  img.main_pic(src="#{article.main_pic}")
                |!{article.desc||article.html.replace(/<p>(.*?)<\/p>/g,"$1\n").replace(/<[^>]*?>/g,"").substr(0,300).replace(/([^\n])\n+([^\n])/g,"$1<br/>$2")}
              .entry-foot
                div.others
                  span.author.vcard.item
                    span.index From：
                    a.value.url.fn(rel='author', href='/user/#{article.user_id}') #{article.user_nick}的专栏
                  span.time.item
                    span.index 时间：
                    a.value #{moment(article.publish_time*1000).format("LLL")}
                  span.views.item
                    span.index View：
                    a.value #{article.visit_count}
                  span.views.item
                    span.index 评论：
                    a.value #{article.comment_count}
                  if article.quote_url
                    span.views.item
                      a.value(href="#{article.quote_url}",target="_blank") 原文链接
                  if locals.user && (user.is_admin||user.id==article.user_id)
                    span.views.item
                      a.value(href="/article/#{article.id}/edit") 编辑
        include page
      .right
        .actions.module
          a.btn(href="/article/add",data-original-title="",style="margin-right:10px;") 
            i.icon-plus.icon-white
            |发表文章

        //
          .module.text
            .hd 订阅和交流
            .bd
              p.
                <wb:follow-button uid="1734409185" type="red_3" width="100%" height="24" ></wb:follow-button>
                <wb:follow-button uid="1717808700" type="red_3" width="100%" height="24" ></wb:follow-button>
              p 欢迎加入
              p 前端乱炖情感群:46532005（千人群）
              p 前端乱炖技术群：227896607
              p 前端乱炖求职招聘群：12892863
              p NodeJS乱炖: 95323225（千人群）
              p 自由职业者: 275182059
              p IOS 乱炖: 292062123
        .module.recent
          .hd 近期评论
          .bd
            if locals.comments
              each comment in comments
                div.item #{comment.user_nick}：<a href="/article/#{comment.target_id.split("_")[1]}">!{comment.md.substr(0,70)}</a>
        .module.recent
          .hd 近期文章
          .bd
            if locals.recents
              each recent in recents
                div.item <a href="/article/#{recent.id}">#{recent.title}</a>
        //
          .module.text
            .hd 微信公众账号
            .bd
              img(src="#{assets_head}/images/qrcode.jpg")
          .module.text
            .hd 广告
            .bd 暂无
    script
      $('.actions a').tooltip({
          placement:"bottom"
      })
      $('.t-user').tooltip({
          placement:"bottom"
      })
      $("#info_read").click(function(e){
        e.preventDefault();
        $.ajax({
          url:"/info/read",
          type:"post",
          success:function(){
          setTimeout(function(){
            window.location.href=window.location.href+"";
            },5000)
          
          }
          })
        })
    include footer