!!! 5
html
  head
    include head
    title #{locals.article&&article.title} - 专栏 - 前端乱炖
    |<meta name="description" content="#{locals.article?article.html.replace(/<[^>]*>/g,'').substr(0,100):""}">
    style
      #bdshare a{}
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
  body#article
    - locals.pageId=1;
    include header
    #content.clearfix
      if !article
        p.alert 不存在的阅读篇章
      else
        .left
          article.post(id="post-#{article.id}")
            .entry-title
              
              h1.title(href='http://p.html-js.com/article/#{article.id}', title='#{article.title}', rel='bookmark') #{article.title}
              
            .entry-content !{article.html.replace(/([^>])\r\n\r\n([^<])/g,"$1<br/>$2").replace(/<code>/g,"<code class='language-javascript'>")}
            .entry-meta
              p 本站专栏文章皆为原创，转载请注明出处和本文链接(<a href="http://www.html-js.com/article/#{article.id}">http://www.html-js.com/article/#{article.id}</a>)，本站和作者保留随时要求删除文章的权利！
          if article.card && article.card.alipay 
            .module(style="margin-top:10px;")
              .hd 如果本文对您有帮助，本站希望您能为作者赞助一点心意，
              .bd
                p(style="color:#999;") 本站推荐按照您的情况，为作者捐助一下金额：1元，5元，10元，20元，或者更多。
                p 
                  a(href="#{article.card.alipay}",target="_blank") 点击这里用支付宝捐助
          .module#score(style="margin-top:10px;")
            .hd 评价（当前分数：#{article.score} 打分次数：#{zan_logs.length}）
            .bd(class="#{zan_guo?'marked':''}")
              span.mark 
                i.icon-dislikes(data-index="1")
                i.icon-dislikes(data-index="2")
                i.icon-dislikes(data-index="3")
                i.icon-dislikes(data-index="4")
                i.icon-dislikes(data-index="5")
                i.icon-dislikes(data-index="6")
                i.icon-dislikes(data-index="7")
                i.icon-dislikes(data-index="8")
                i.icon-dislikes(data-index="9")
                i.icon-dislikes(data-index="10")
              span.mark-score <em>0</em>分
              span.mark-already 您已经评价过，打分：<em>#{locals.zan_score?zan_score:0}</em>
              .zan-logs
                if locals.zan_logs
                  each zan in zan_logs
                    if zan&&zan.user
                      a.user(style="display:inline-block;",href="/user/#{zan.user.id}",data-original-title="#{zan.user.nick} #{zan.score}分") 
                        img(src="#{zan.user.head_pic}",width="20")
          .comment.module
            .hd 评论
            .bd
              .publish 
                textarea.input-block-level#comment-text(placeholder="参与讨论。支持markdown语法")
                .btn.comment-submit#comment-submit 发表评论
              .comment-list
                if comments.length
                  each comment in comments
                    .comment-item.clearfix
                      a.headpic
                        img(src="#{comment.user_headpic}",width=70,height=70)
                      .comment-right
                        div.con 
                          span.author.vcard.item
                            a.value.url.fn(rel='author', href='/user/#{comment.user_id}') #{comment.user_nick}：
                          | !{comment.html}
                        .time #{moment(comment.createdAt).fromNow()}
                          a.reply(data-nick="#{comment.user_nick}") 回复
                else
                  div 暂无评论
              script#comment-tpl(type="text/template")
                .comment-item.clearfix
                  a.headpic
                    img(src="{{user_headpic}}",width=70,height=70)
                  .comment-right
                    div.con 
                      span.author.vcard.item
                        a.value.url.fn(rel='author', href='/user/{{user_id}}') {{user_nick}}：
                      | {{{html}}}
                    .time {{createdAt}} 
                      a.reply(data-nick="{{user_nick}}") 回复
        .right
          div.module.user
            a.headpic
                img(src="#{article.user_headpic}",width=50,height=50)
            div.others
              div.author.vcard.item
                span.index #{article.quote_url?"推荐者":"作者"}：
                a.value.url.fn(rel='author', href='/user/#{article.user_id}') #{article.user_nick}

              div.time.item
                span.index 时间：
                a.value #{moment(article.publish_time*1000).format("LLL")}
              if article.column_id
                div.item
                  span.index 所属专栏：
                  a.value(href="/article/column/#{article.column_id}") 【#{article.column.name}】
              if article.quote_url
                div.views.item
                  a.value(href="#{article.quote_url}",target="_blank") 原文链接
              div.item.share#bdshare.bdshare_t.bds_tools.get-codes-bdshare.clearfix(style="width:300px;margin-top:10px;float:none;margin-left:0px;")
                span.index(style="float:left;line-height:30px;") 分享：
                a.bds_tsina
                a.bds_qzone
                a.bds_tqq
                a.bds_douban
                a.bds_renren
                a.shareCount
              div.item
                if locals.user && (user.is_admin||user.id==article.user_id)
                  span.index 管理：
                  a.value(href="/article/#{article.id}/edit") 编辑
          .module.count
            .item
              span.views
                span.index View：
                a.value #{article.visit_count}
              span.views
                span.index 评论：
                a.value #{article.comment_count}
          if locals.column_articles
            .module.recent
              .hd 本专栏其他文章
              .bd
                each a in column_articles
                  div.item <a href="/article/#{a.id}">#{a.title}</a>
          .module.recent
            .hd 近期文章
            .bd
              if locals.recents
                each recent in recents
                  div.item <a href="/article/#{recent.id}">#{recent.title}</a>
          
      - locals.shareImgs = article.html.match(/img\s*?src=["|'](.*?)["|']/);
      p.
        <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
        var bds_config={"bdText":"分享一篇来自@前端乱炖 专栏#{article.column?'【'+article.column.name+'】':''}的文章：《#{article.title}》#{article.user_nick}：#{article.md?article.md.substr(0,130).replace(/\s/g,""):""}","bdPic":"#{locals.shareImgs&&shareImgs[1]}","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
    include footer
    script(src="#{assets_head}/js/mustache.js")
    script(src="#{assets_head}/js/messageTip.js")
    script(src="#{assets_head}/js/loadingTip.js")
    script
      $(window).scroll(function(){
        if($(window).scrollTop()+$(window).height()>=$(".comment").offset().top){
          $(".comment-layer").addClass("hidden")
        }else{
        $(".comment-layer").removeClass("hidden")
        }
        })
      $(".comment-layer").click(function(){
        $("html,body").animate({
          scrollTop:$(".comment").offset().top-200
          })
        $(".comment textarea").focus()
        })
      var comment_tpl = $("#comment-tpl").html()
      //- loadingTip.show("评论加载中")
      //- $.ajax({
      //-   url:"/comment/article_#{article.id}",
      //-   type:"get",
      //-   dataType:"json",
      //-   success:function(data){
      //-     loadingTip.hide("正在提交中")
      //-       if(data.success){
      //-       for(var i=0;i<data.comments.length;i++){
      //-       var comment = data.comments[i]
      //-         var html = Mustache.render(comment_tpl,comment);
      //-         $(".comment-list").append(html)
      //-         $(".reply").click(function(){
      //-   $("#comment-text").val("@"+$(this).attr("data-nick")+" ").focus()
      //-    $("#comment-text")[0].setSelectionRange($("#comment-text")[0].value.length, $("#comment-text")[0].value.length)
      //-   })
      //-       }
      //-       }else{
      //-       alert(data.info)
      //-       }
            
      //-   }
      //-   })

      $(".reply").click(function(){
        $("#comment-text").val("@"+$(this).attr("data-nick")+" ").focus()
         $("#comment-text")[0].setSelectionRange($("#comment-text")[0].value.length, $("#comment-text")[0].value.length)
        })
      $("#comment-submit").click(function(){
        var text = $("#comment-text").val();
        if(!text){
          messageTip.show("请输入评论内容");
        }else{
          loadingTip.show("正在提交中")
           HtmlJS.util.ajax("/comment/add",{
              md:text,
              target_id:"article_#{article.id}"
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                $("#comment-text").val("")
                var html = Mustache.render(comment_tpl,data.comment);
                  $(".comment-list").prepend(html)
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            HtmlJS.util.ajax("/comment/add",{
              md:text,
              target_id:"article_#{article.id}"
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                $("#comment-text").val("")
                var html = Mustache.render(comment_tpl,data.comment);
                  $(".comment-list").prepend(html)
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            
          })
          })
        }
        })
        var markEnable = true;
        var markToScore = function(score){
          score = parseInt(score);
          $(".mark i").removeClass("icon-star")
          for(var i=0;i<score;i++){
            $(".mark i:nth-child("+(i+1)+")").addClass("icon-star")
          }
          $(".mark-score em").html(score)
        }
        markToScore(#{article.score});
        !{zan_guo?'markEnable=false;':''}

        $(".mark i").mouseenter(function(){
          if(!markEnable) return;
          markToScore($(this).attr("data-index"))

          }).click(function(){
          if(!markEnable) return;
          var self = this;
            HtmlJS.util.ajax("/article/#{article.id}/zan",{
              score:$(self).attr("data-index")
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                  markEnable = false;
                  $("#score .bd").addClass("marked")
                  messageTip.show("打分成功！")
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            HtmlJS.util.ajax("/article/#{article.id}/zan",{
              score:$(self).attr("data-index")
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                  markEnable = false;
                  $("#score .bd").addClass("marked")
                  $(".mark-already em").html($(self).attr("data-index"))
                  messageTip.show("打分成功！")
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            
          })
          })
          })
          $('.user').tooltip({
          placement:"bottom"
          })