meta(charset='utf-8')
link(rel="Shortcut Icon",href="#{assets_head}/images/icon.png")
link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css?dd",type="text/css")
link(rel="stylesheet",href="#{assets_head}/css/main.css?1244dddddddd21",type="text/css")
link(rel="stylesheet",href="#{assets_head}/css/prettify.css?22",type="text/css")
link(rel="stylesheet",href="#{assets_head}/css/glyphicons.css?22ddd",type="text/css")
script(src='#{assets_head}/js/jquery.js')
script(src='#{assets_head}/js/htmljs.js?122e23')
script(src='#{assets_head}/js/prettify.js?12')
|<meta name="viewport" content="width=device-width, initial-scale=1">
|<link href="#{assets_head}/images/icon.png" rel="apple-touch-icon">
|<meta name="keywords" content="前端, 前端开发, web前端, web前端开发, 前端开发工程师, 前端开发攻城师,设计, 开发, 前端资源, CSS, JavaScript, Ajax, jQuery, html,html5,css3,浏览器兼容, 前端开发工具, 前端招聘, jQuery API, CSS整形和优化工具 , JS压缩工具 , JS格式化工具 , CSS参考手册 ,HTML参考手册 , 多重搜索 , nodejs , node , boostrap , sublime">
|<meta name="description" content="前端乱炖，最专业的前端知识平台，汇集国内大部分前端开发人员的前端花名册，最精彩的原创文章专栏，最专业的问答平台，最火热的话题频道，最丰富的线下线上活动。">
|<script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bbb57d2e6c7c647135dc76087021e11b/allmobilize.min.js"></script><meta http-equiv="Cache-Control" content="no-transform" /><link rel="alternate" media="handheld" href="#" />