#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li(class="#{locals.pageId==0?'active':''}")
              a(href="/") 乱炖首页
            li(class="#{locals.pageId==1?'active':''}")
              a(href="/article") 专栏
            li(class="#{locals.pageId==7?'active':''}")
              a(href="/qa") 问答
            li(class="#{locals.pageId==8?'active':''}")
              a(href="/tag") 标签
            //- li(class="#{locals.pageId==4?'active':''}")
            //-   a(href="/read") 阅读
            li(class="#{locals.pageId==2?'active':''}")
              a(href="/cards") 花名册

            li(class="#{locals.pageId==5?'active':''}")
              a(href="/act") 活动
            //
              li(class="#{locals.pageId==6?'active':''}")
                a(href="/book") 免费送书
            
          if locals.user
            ul.right-nav
              li 
                a(href="/user") #{user.nick}
                if locals.unread_count
                  a.unread(href="/user",title="有#{unread_count}条未读消息") #{unread_count}
              li
                a(href="/user/logout?redirect=#{encodeURIComponent(locals.url)}") 退出
          else
            ul.right-nav
              li
                a(href="/user/login?redirect=#{encodeURIComponent(locals.url)}") 登录
if locals.user && (!locals.user.card_id)
  #tips(style="width:940px;margin:0 auto;margin-top:40px;")
    .module
      .bd 
        |您还没有加入 花名册 ，加入花名册后，可以享受更多功能，现在加入，<a href="/add-card">加入花名册</a>。<br/>
        |如果您之前在花名册添加过信息，点击这里去领取你的名片，<a href="/cards">领取花名册</a>
else
  #tips(style="margin-top:60px;")
