#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li(class="#{locals.pageId==0?'active':''}")
              a(href="/") 前端乱炖
            li(class="#{locals.pageId==1?'active':''}")
              a(href="/article") 博客
            li(class="#{locals.pageId==4?'active':''}")
              a(href="/read") 阅读
            li(class="#{locals.pageId==2?'active':''}")
              a(href="/cards") 花名册
            li(class="#{locals.pageId==3?'active':''}")
              a(href="/user") 我的名片
            li(class="#{locals.pageId==5?'active':''}")
              a(href="/act") 活动平台
            li(class="#{locals.pageId==6?'active':''}")
              a(href="/book") 免费送书
          if locals.user
            ul.right-nav
              li #{user.nick}
              li
                a(href="/user/login") 退出