!!! 5
html
  head
    include head
    title 前端乱炖 - 首页
    style
      #bdshare a{}
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js')
  body#index
    - locals.pageId=0;
    include header
    #content.clearfix
      .left
        .module.timelines
          each timeline in timelines
            .timeline-item.clearfix
              .user
                .headpic(href="/user/#{timeline.who_id}") 
                  img(src="#{timeline.who_headpic}")
              .infos
                .action 
                  a.nick(href="/user/#{timeline.who_id}") #{timeline.who_nick}
                  |#{timeline.action}
                  a.title(href="#{timeline.target_url}") #{timeline.target_name}
                  span.time #{moment(timeline.createdAt).fromNow()}
                if timeline.desc
                  .desc.clearfix !{timeline.desc}
          include page
      .right
        .module
          .hd 公告
          .bd
            div 9-9：阅读收藏功能暂时隐藏，待开发新版后开放。
        .module
          .hd 开发进度
          .bd
            p 本站的功能都在不断开发完善中，不完善的功能请等待修复。
              
        
    //include footer
    script
      var css = "width:10px;height:10px;display:block;-webkit-box-shadow:1px 1px 2px #ff6700;color:#aaa;background:#aaa;"
      console.log ("%ca",css)
      

      
    