!!! 5
html
  head
    include head
    title 前端乱炖 - 首页
    style
      #bdshare a{}
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js')
  body#index
    - locals.pageId=0;
    include header
    #content.clearfix
      .left
        .module.timelines
          each timeline in timelines
            .timeline-item.clearfix
              .user
                .headpic(href="/user/#{timeline.who_id}") 
                  img(src="#{timeline.who_headpic}")
              .infos
                .action 
                  a.nick(href="/user/#{timeline.who_id}") #{timeline.who_nick}
                  |#{timeline.action}
                  a.title(href="#{timeline.target_url}") #{timeline.target_name}
                  span.time #{moment(timeline.createdAt).fromNow()}
                if timeline.desc
                  .desc.clearfix !{timeline.desc}
          include page
      .right
        .module
          .hd 公告
          .bd
            div 9-9：阅读收藏功能暂时隐藏，待开发新版后开放。
        .module
          .hd 开发进度
          .bd
            p 本站的功能都在不断开发完善中，不完善的功能请等待修复。
              
        .module
          .hd QQ群组
          .bd.
            <div class="textwidget">
              <div>前端乱炖情感群:<em style="color:#ff6700;">46532005</em>（千）<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=785525cf168fab8c11415bd56f5602c3735497d10a66635115b300baf8769e65">加入</a></div>
              <div>前端乱炖技术群：<em style="color:#ff6700;">227896607</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=9b89fe56ea2eb39e08003541dab7282679ba2f0c1fbec2abf1d00d1b7607b280">加入</a></div>
              <div>NodeJS乱炖: <em style="color:#ff6700;">95323225</em>（千）<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=bcf7977843816c9dde25f8b8caae2d81675f2224a50545ea313e4e98e33c06dc">加入</a></div>
              <div>自由职业者: <em style="color:#ff6700;"> 275182059</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=5fdf12b1a777677e8b1f25e32cec5cee7cfd59417cce2bd7bc46a8cac95972ea">加入</a></div>
              <div>IOS 乱炖: <em style="color:#ff6700;"> 292062123</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=3f6b8c853435e0a68b1b86f036eb823a97488cd68c728c7dfe3569a3a9902f7e">加入</a></div>
              <div>前端乱炖求职招聘群: <em style="color:#ff6700;"> 12892863</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=e941d6613691a264555ae3fe62168d2d56928bc2a7a7d53d80536ff44fdb63d3">加入</a></div>
            </div>
        
    include footer
    script
      var css = "width:10px;height:10px;display:block;-webkit-box-shadow:1px 1px 2px #ff6700;color:#aaa;background:#aaa;"
      console.log ("%ca",css)
      

      
    