!!! 5
html
  head
    include head
    title 前端乱炖
    |<meta name="description" content="前端乱炖，这里是最专业的前端知识平台，汇集国内大部分前端开发人员的前端花名册，最精彩的原创文章专栏，最专业的问答平台，最火热的话题频道，最丰富的线下线上活动。">
    style
      #bdshare a{}
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/lazyload.js')
  body#index
    - locals.pageId=0;
    include header

    #content.clearfix
      .left
        //
          div.alert.alert-warning 本站第一次线下活动【中秋节杭州基层前端大聚会】，开始报名！<a href="/act/1">戳我去报名</a>！
        .module.search
          .bd
            div.
              <script>
                (function() {
                  var cx = '004549130280129344040:hye4d842ysg';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//www.google.com/cse/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <gcse:search></gcse:search>
            div.adds(style="padding:15px;padding-bottom:0;")
              |快速入口：
              a.btn.gray(href="/qa/add") <i class="icon-lightbulb"></i> 提问问题
              a.btn.gray(href="/topic/add") <i class="icon-conversation"></i> 发起话题
              a.btn.gray(href="/article/add") <i class="icon-book-open"></i> 发表原创文章

        .module.timelines
          each timeline in timelines
            if timeline.card_id
              .card-item.timeline-item.clearfix
                a.t-user(href="/user/#{timeline.card_user_id}",data-original-title="#{timeline.card_nick}")
                  img(data-original="#{timeline.card_head_pic}",width="20")
                span.value  #{moment(timeline.createdAt).fromNow()} 
                a(href="/card/#{timeline.card_id}") #{timeline.card_nick} 
                span 添加了自己的名片：
                a(href="/card/#{timeline.card_id}") 查看名片 
                .entry-name <i class="icon-nameplate" title="名片"></i>
            else if timeline.article_id
              .article-item.timeline-item.clearfix
                .entry-title
                  h2.title
                    a.t-user(href="/user/#{timeline.article_user_id}",data-original-title="#{timeline.article_user_nick}")
                      img(data-original="#{timeline.article_user_headpic}",width="20")
                    a.real-title(href='/article/#{timeline.article_id}', title='#{timeline.article_title}', rel='bookmark') #{timeline.article_title}
                .entry-foot
                  div.others
                    span.time.item
                      span.value #{moment(timeline.createdAt).fromNow()} 由
                      a.value.url.fn(rel='author', href='/user/#{timeline.article_user_id}')  #{timeline.article_user_nick} 
                      span.value 
                        | 发布在 
                        if timeline.article_column_id && locals.columns
                          each column in columns
                            if column.id == timeline.article_column_id
                              a(href="/article/column/#{column.id}") #{column.name}
                        |  专栏
                    span.item
                      span.index 浏览 
                      span.value #{timeline.article_visit_count}
                    span.item
                      span.index 评论 
                      span.value  #{timeline.article_comment_count}
                    span.item
                      span.index 评分
                      a.value(href="/article/#{timeline.article_id}#score")  #{timeline.article_score}/10
                    if locals.user&&locals.user.is_admin
                      span.actions.item
                        span.index 操作：
                        if timeline.sort ==10000
                          a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                        else
                          a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                .entry-name <i class="icon-book-open" title="专栏原创文章"></i>
                    
            else if timeline.question_id
              .question-item.timeline-item.clearfix
                .entry-title
                  h2.title
                    a.t-user(href="/user/#{timeline.question_user_id}",data-original-title="#{timeline.question_user_nick}")
                      img(data-original="#{timeline.question_user_headpic}",width="20")
                    a.real-title(href='/qa/#{timeline.question_id}', title='#{timeline.question_title}', rel='bookmark') #{timeline.question_title}
                .entry-foot
                  div.others
                    span.time.item
                      span.value #{moment(timeline.createdAt).fromNow()} 由
                      a.value.url.fn(rel='author', href='/user/#{timeline.question_user_id}')  #{timeline.question_user_nick} 
                      span.value 发布在 问答区
                    span.item
                      span.index 浏览 
                      span.value #{timeline.question_visit_count}
                    span.item
                      span.index 回答 
                      span.value #{timeline.question_answer_count}
                    if locals.user&&locals.user.is_admin
                      span.actions.item
                        span.index 操作：
                        if timeline.sort ==10000
                          a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                        else
                          a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                .entry-name <i class="icon-lightbulb"  title="问答"></i>
            else if timeline.topic_id
              .topic-item.timeline-item.clearfix
                .entry-title
                  h2.title
                    a.t-user(href="/user/#{timeline.topic_user_id}",data-original-title="#{timeline.topic_user_nick}")
                      img(data-original="#{timeline.topic_user_headpic}",width="20")
                    a.real-title(href='/topic/#{timeline.topic_id}', title='#{timeline.topic_title}', rel='bookmark') #{timeline.topic_title}
                .entry-foot
                  div.others
                    span.time.item
                      span.value #{moment(timeline.createdAt).fromNow()} 由
                      a.value.url.fn(rel='author', href='/user/#{timeline.topic_user_id}')  #{timeline.topic_user_nick} 
                      span.value 发布在 话题区
                    span.item
                      span.index 浏览 
                      span.value #{timeline.topic_visit_count}
                    span.item
                      span.index 跟帖
                      span.value #{timeline.topic_comment_count}
                    if locals.user&&locals.user.is_admin
                      span.actions.item
                        span.index 操作：
                        if timeline.sort ==10000
                          a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                        else
                          a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                .entry-name <i class="icon-conversation" title="话题"></i>
            else if timeline.act_id
              .topic-item.timeline-item.clearfix
                .entry-title
                  h2.title
                    a.real-title(href='/act/#{timeline.act_id}', title='#{timeline.act_title}', rel='bookmark') 【活动】#{timeline.act_title}
                .entry-foot
                  div.others
                    span.time.item
                      span.value #{moment(timeline.createdAt).fromNow()} 
                      span.value 发布在 活动区
                    span.item
                      span.index 浏览 
                      span.value #{timeline.act_visit_count}
                    span.item
                      span.index 跟帖
                      span.value  #{timeline.act_comment_count}
                    if locals.user&&locals.user.is_admin
                      span.actions.item
                        span.index 操作：
                        if timeline.sort ==10000
                          a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                        else
                          a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                .entry-name <i class="icon-sampler" title="活动"></i>
            //- .timeline-item.clearfix
            //-   .user
            //-     .headpic(href="/user/#{timeline.who_id}") 
            //-       img(src="#{timeline.who_headpic}")
            //-   .infos
            //-     .action 
            //-       a.nick(href="/user/#{timeline.who_id}") #{timeline.who_nick}
            //-       |#{timeline.action}
            //-       a.title(href="#{timeline.target_url}") #{timeline.target_name}
            //-       span.time #{moment(timeline.createdAt).fromNow()}
            //-     if timeline.desc
            //-       .desc.clearfix !{timeline.desc}
          include page
      .right
        //- .module
        //-   .hd 公告
        //-   .bd
        .module
          .bd
            p 赞助本站：
              a(href="/ad") 企业或个人赞助
            p 
              a(href="http://www.html-js.com/qa/75") 给本站提意见
        .module
          .hd QQ群组
          .bd.
            <div class="textwidget">
              <div>前端乱炖情感群:<em style="color:#ff6700;">46532005</em>（千）<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=785525cf168fab8c11415bd56f5602c3735497d10a66635115b300baf8769e65">加入</a></div>
              <div>前端乱炖技术群：<em style="color:#ff6700;">227896607</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=9b89fe56ea2eb39e08003541dab7282679ba2f0c1fbec2abf1d00d1b7607b280">加入</a></div>
              <div>NodeJS乱炖: <em style="color:#ff6700;">95323225</em>（千）<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=bcf7977843816c9dde25f8b8caae2d81675f2224a50545ea313e4e98e33c06dc">加入</a></div>
              <div>自由职业者: <em style="color:#ff6700;"> 275182059</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=5fdf12b1a777677e8b1f25e32cec5cee7cfd59417cce2bd7bc46a8cac95972ea">加入</a></div>
              <div>IOS 乱炖: <em style="color:#ff6700;"> 292062123</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=3f6b8c853435e0a68b1b86f036eb823a97488cd68c728c7dfe3569a3a9902f7e">加入</a></div>
              <div>前端乱炖求职招聘群: <em style="color:#ff6700;"> 12892863</em> <a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=e941d6613691a264555ae3fe62168d2d56928bc2a7a7d53d80536ff44fdb63d3">加入</a></div>
            </div>
        .module.text
            .hd 微信公众账号
            .bd
              img(src="#{assets_head}/images/qrcode.jpg")
    include footer
    script
      $('.t-user').tooltip({
          placement:"bottom"
      })
      $("img").lazyload();
      

      
    