!!! 5
html
  head
    meta(charset='utf-8')
    title 前端花名册-#{locals.card?card.nick:""}
    include head
    script(src='#{assets_head}/js/lazyload.js')
    style
    script(src='/google_analytics_auto.js')
  body#me
    - locals.pageId=2;
    include header
    #content.clearfix
      .left
        if !locals.card
          p.alert.alert-warnint 此用户还没有创建名片
        else
          div.my_card
            div.count-infos
              a(href="/card/#{card.id}")
                .icon-eye-open.icon
                span #{card.visit_count||0}
              a.zan(data-id="#{card.id}")
                .icon-heart.icon 
                em #{card.zan_count||0}
              a(href="/card/#{card.id}#comment-module")
                .icon-comment.icon
                span #{card.comment_count||0}
            .hd 
              | #{card.nick}的名片信息 
            .bd
              .item.clearfix
                span.key 头像
                span.value 
                  img(src="#{card.head_pic||"http://www.gravatar.com/avatar/"+md5(card.email)+"?d=http://ww2.sinaimg.cn/mw690/6663ae3cgw1dw6f3l62w6j.jpg"}")
              .item.clearfix
                span.key 姓名
                span.value #{card.name}
              .item.clearfix
                span.key 昵称
                span.value #{card.nick}
              .item.clearfix
                span.key 性别
                span.value #{card.sex}
              .item.clearfix
                span.key 感情状况
                span.value #{card.is_dan}
              .item.clearfix
                span.key 城市
                span.value #{card.city}
              .item.clearfix
                span.key 职位
                span.value #{card.zhiwei}
              .item.clearfix
                span.key 特长
                span.value #{card.techang}
              .item.clearfix
                span.key 公司
                span.value #{card.gongsi}
              .item.clearfix
                span.key blog
                span.value 
                  a(href="#{card.blog}",target="_blank") #{card.blog}
              .item.clearfix
                span.key github
                span.value 
                  a(href="#{card.github}",target="_blank") #{card.github}
              .item.clearfix
                span.key weibo
                span.value 
                  a(href="#{card.weibo}",target="_blank") #{card.weibo}
              .item.clearfix
                span.key email
                span.value #{card.email?"*********":""}
              .item.clearfix
                span.key QQ
                span.value #{card.qq?"*********":""}
              .item.clearfix
                span.key 手机号
                span.value #{card.tel?"*********":""}
              .item.clearfix
                span.key 简介(工作经历)
                span.value #{card.desc}
              .item.clearfix
                span.key 每天工作时长
                span.value #{card.shijian}
              .item.clearfix
                a(href="mailto:#{card.email}") 请求完整资料
          .comment.module#comment-module
            .hd 评论
            .bd
              .publish 
                textarea.input-block-level#comment-text(placeholder="参与讨论，共创奇迹。支持markdown语法")
                .btn.comment-submit#comment-submit 发表评论
              .comment-list
          .comment-layer
            span.count
              i.icon-comment
              |#{card.comment_count}
            span.input 看着不错？点评几句把，TA需要您的鼓励和支持。
              script#comment-tpl(type="text/template")
                .comment-item.clearfix
                  a.headpic
                    img(src="{{user_headpic}}",width=70,height=70)
                  .comment-right
                    div.con 
                      span.author.vcard.item
                        a.value.url.fn(rel='author', href='/user/{{user_id}}') {{user_nick}}：
                      | {{{html}}}
                    .time {{createdAt}}
      .right
        if locals.card
          div.count.module
            .hd 最近访问（#{card.visit_count||1}）
            .bd.clearfix
              div 
                if locals.visitors
                  each visitor in locals.visitors
                    div.visitor
                      a(href="/user/#{visitor.user_id}",title="#{visitor.user_nick}")
                        img(src="#{visitor.user_headpic}")
              //
                div 
                  span 赞：
                  em #{card.zan_count||1}
          div.module
            .hd 分享
            .bd
              div.share#bdshare.bdshare_t.bds_tools.get-codes-bdshare.clearfix
                a.bds_tsina
                a.bds_qzone
                a.bds_tqq
                a.bds_douban
                a.bds_renren
                a.shareCount
          
          div.bao.module
            .hd 爆料
            .bd
              .actions
                a.act_pic 爆照片
                  input#publish_pic(type='file',name='pic')
                a.act_text 爆八卦
              .publish-text
                form#bao_form(action="/card/#{card.id}/bao",method="post")
                  div
                    img.publish_pic.hidden(src="")
                    input#publishform_pic(type="hidden",name="pic")
                  .publish-inner
                    div
                      textarea(name="content",placeholder="输入要八卦的内容")
                    button.btn(type="submit") 提交
              if locals.baos
                .baos
                  for bao in baos
                    .bao-item 
                      if bao.pic
                        img.bao-pic(src="#{bao.pic}") 
                      .bao-content 
                        a(href="/user/#{bao.user_id}") #{bao.user_nick}
                        | ：#{bao.content} <span>(#{moment(bao.createdAt).fromNow()})</span>
                      .bao-action 
                        a.comment(data-id="#{bao.id}") 评论(<em>#{bao.comment_count||0}</em>)
                        a.zan(data-id="#{bao.id}") 赞(<em>#{bao.zan_count||0}</em>)
                        a 分享
                        .bao_comment.hidden
                          .wrapper
                            textarea(id="bao_content_#{bao.id}")
                            a.btn.bao_comment_submit(data-id="#{bao.id}") 提交
                            .comment-list
                            
                          
                          
          
    include footer
    if locals.card
      div.
        <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
        var bds_config={"bdText":"这小子不错啊，分享给大家，快来吃他！@前端乱炖","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
      script(src='#{assets_head}/js/ajaxfileupload.js')
      script(src='#{assets_head}/js/loadingTip.js')
      script(src='#{assets_head}/js/messageTip.js')
      script(src='#{assets_head}/js/card.js')
      script
        $("a.zan").click(function(){
          var id = $(this).data("id");
            var self=this;
            $.ajax("/card/"+id+"/zan",{
              dataType:"json",
              type:"post",
              data:{
              },
              success:function(data){
                if(data.success){
                  messageTip.show("Great!")
                  $("em",$(self)).html(data.zan_count)
                }else{
                }
              },
              error:function(){

              }
            })
          })
      script(src="#{assets_head}/js/mustache.js")
      script
        $(window).scroll(function(){
          if($(window).scrollTop()+$(window).height()>=$(".comment").offset().top){
            $(".comment-layer").addClass("hidden")
          }else{
          $(".comment-layer").removeClass("hidden")
          }
          })
        $(".comment-layer").click(function(){
          $("html,body").animate({
            scrollTop:$(".comment").offset().top-200
            })
          $(".comment textarea").focus()
          })
        var comment_tpl = $("#comment-tpl").html()
        loadingTip.show("评论加载中")
        $.ajax({
          url:"/comment/card_#{card.id}",
          type:"get",
          dataType:"json",
          success:function(data){
            loadingTip.hide("正在提交中")
              if(data.success){
              for(var i=0;i<data.comments.length;i++){
              var comment = data.comments[i]
                var html = Mustache.render(comment_tpl,comment);
                $(".comment-list").append(html)
              }
              }else{
              alert(data.info)
              }
              
          }
          })
        $("#comment-submit").click(function(){
          var text = $("#comment-text").val();
          if(!text){
            messageTip.show("请输入评论内容");
          }else{
            loadingTip.show("正在提交中")
            $.ajax({
              url:"/comment/add",
              type:"post",
              data:{
                md:text,
                target_id:"card_#{card.id}"
              },
              dataType:"json",
              success:function(data){
              loadingTip.hide()

              if(data.isnotlogin){
                alert("请先登录")
                  window.location.href="/user/login"
              }else if(data.success){
              $("#comment-text").val("")
              var html = Mustache.render(comment_tpl,data.comment);
                $(".comment-list").prepend(html)
              }else{
                alert(data.info)
              }
              
              }
              })
          }
          })
      