!!! 5
html
  head
    include head
    title 前端乱炖-#{locals.article&&article.title}
    style
      #bdshare a{}
  body#read
    - locals.pageId=4;
    include header
    #content.clearfix
      if !article
        p.alert 不存在的阅读篇章
      else
        .left
          article.post(id="post-#{article.id}")
            .entry-title
              a.headpic
                img(src="#{article.user_headpic}",width=70,height=70)
              h1.title(href='http://p.html-js.com/article/#{article.id}', title='#{article.title}', rel='bookmark') #{article.title}
              div.others
                span.author.vcard.item
                  span.index #{article.quote_url?"推荐者":"作者"}：
                  a.value.url.fn(rel='author', href='/user/#{article.user_id}') #{article.user_nick}
                span.time.item
                  span.index 时间：
                  a.value #{moment(article.createdAt).format("LLL")}
                span.views.item
                  span.index View：
                  a.value #{article.visit_count}
                if article.quote_url
                  span.views.item
                    a.value(href="#{article.quote_url}",target="_blank") 原文链接
                div.share#bdshare.bdshare_t.bds_tools.get-codes-bdshare.clearfix(style="width:300px;margin-top:10px;float:none;margin-left:70px;")
                  span(style="float:left;line-height:30px;") 分享：
                  a.bds_tsina
                  a.bds_qzone
                  a.bds_tqq
                  a.bds_douban
                  a.bds_renren
                  a.shareCount
            .entry-content !{article.html.replace(/([^>])\r\n\r\n([^<])/g,"$1<br/>$2")}
            .entry-meta
          .comment.module
            .hd 评论
            .bd
              .publish 
                textarea.input-block-level#comment-text(placeholder="参与讨论，共创奇迹。支持markdown语法")
                .btn.comment-submit#comment-submit 发表评论
              .comment-list
          .comment-layer
            span.count
              i.icon-comment
              |#{article.comment_count}
            span.input 看着不错？点评几句把，TA需要您的鼓励和支持。      
              script#comment-tpl(type="text/template")
                .comment-item.clearfix
                  a.headpic
                    img(src="{{user_headpic}}",width=70,height=70)
                  .comment-right
                    div.con 
                      span.author.vcard.item
                        a.value.url.fn(rel='author', href='/user/{{user_id}}') {{user_nick}}：
                      | {{{html}}}
                    .time {{createdAt}}
        - locals.shareImgs = article.html.match(/img\s*?src=["|'](.*?)["|']/);
        p.
          <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
          <script type="text/javascript" id="bdshell_js"></script>
          <script type="text/javascript">
          var bds_config={"bdText":"《#{article.title.replace(/\n/g,'')}》@前端乱炖","bdPic":"#{locals.shareImgs&&shareImgs[1]}","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
          document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
          </script>
    script(src="/assets/js/mustache.js")
    script(src="/assets/js/messageTip.js")
    script(src="/assets/js/loadingTip.js")
    script
      $(window).scroll(function(){
        if($(window).scrollTop()+$(window).height()>=$(".comment").offset().top){
          $(".comment-layer").addClass("hidden")
        }else{
        $(".comment-layer").removeClass("hidden")
        }
        })
      $(".comment-layer").click(function(){
        $("html,body").animate({
          scrollTop:$(".comment").offset().top-200
          })
        $(".comment textarea").focus()
        })
      var comment_tpl = $("#comment-tpl").html()
      loadingTip.show("评论加载中")
      $.ajax({
        url:"/comment/article_#{article.id}",
        type:"get",
        dataType:"json",
        success:function(data){
          loadingTip.hide("正在提交中")
            if(data.success){
            for(var i=0;i<data.comments.length;i++){
            var comment = data.comments[i]
              var html = Mustache.render(comment_tpl,comment);
              $(".comment-list").append(html)
            }
            }else{
            alert(data.info)
            }
            
        }
        })
      $("#comment-submit").click(function(){
        var text = $("#comment-text").val();
        if(!text){
          messageTip.show("请输入评论内容");
        }else{
          loadingTip.show("正在提交中")
          $.ajax({
            url:"/comment/add",
            type:"post",
            data:{
              md:text,
              target_id:"article_#{article.id}"
            },
            dataType:"json",
            success:function(data){
            loadingTip.hide()

            if(data.isnotlogin){
              alert("请先登录")
                window.location.href="/user/login"
            }else if(data.success){
            $("#comment-text").val("")
            var html = Mustache.render(comment_tpl,data.comment);
              $(".comment-list").prepend(html)
            }else{
              alert(data.info)
            }
            
            }
            })
        }
        })

    include footer