!!! 5
html
  head
    include ./../head
    title 前端乱炖-我的专栏
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    
  body#user
    - locals.pageId=8;
    include ./../header
    #content
      include topinfo
      .main.clearfix
        .left
          - locals.user_page_id = 4;
          include left

        .right
          .infos.module
            .hd 经验值获得记录
            .bd
              if !locals.articles
                p 暂无记录。
              else
                .info-item 
                  a(href="/qa/49") 什么是专栏？如何利用专栏来提高知名度？
                each article in articles
                  .info-item
                    .t 
                      .entry-title
                        h1.title
                          if article.sort == 100000
                              span.label.tip.top 置顶
                          a(href='/article/#{article.id}', title='#{article.title}', rel='bookmark') #{article.title}
                      .entry-foot
                        span.item
                          span.index 时间：
                          a.value #{moment(article.publish_time*1000).format("LLL")}
                        span.views.item
                          span.index View：
                          a.value #{article.visit_count}
                        span.views.item
                          span.index 评论：
                          a.value #{article.comment_count}
                        if article.quote_url
                          span.views.item
                            a.value(href="#{article.quote_url}",target="_blank") 原文链接
                        if locals.user && (user.is_admin||user.id==article.user_id)
                          span.views.item
                            a.value(href="/article/#{article.id}/edit") 编辑
              include ../page

    include ../footer
        
    script
      $("#more_info").click(function(){
        $(".my_card").toggleClass("hidden")
        })
