!!! 5
html
  head
    include ../head
    link(href='#{assets_head}/css/Markdown.Editor.css', type='text/css', rel='stylesheet', charset='utf-8')
    script(src='#{assets_head}/js/jquery.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-transition.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-modal.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/Markdown.Converter.js')
    script(src='#{assets_head}/js/Markdown.Sanitizer.js')
    script(src='#{assets_head}/js/Markdown.Editor.js')
    title 添加专栏
    style
      #content input[type="text"]{
        width:400px;
      }
      #content textarea{
      height:200px;
      }
  body#qa-add
    - locals.pageId=1;
    include ../header
    #content.clearfix
      .left
        .module
          form.form-horizontal#form(method='post')
            fieldset
              legend 添加专栏
              .control-group
                input#title(type='text', value = "",name='name', placeholder='专栏名称,使用尽量少的字描述',required)
              .control-group
                .wmd-panel
                  #wmd-button-bar
                  textarea.wmd-input#wmd-input(name="desc_md",placeholder='专栏描述',required) 
                  
              .control-group
                label.radio 
                  input(type='radio', value = "0",name='is_public') 
                  | 只有我可以发表文章到专栏
                label.radio
                  input(type='radio', value = "1",name='is_public',checked) 
                  | 所有人都可以投递到此专栏
              .wmd-panel.wmd-preview
                div 预览
                #wmd-preview
              .control-group
                button.btn(type='submit') 添加
          
      .right 
        .module
          .hd 提示
          .bd 
            div 提交专栏添加申请后，需要管理员审核后方能使用。
            div 专栏可以设置私有和共有。
            div 标题和描述，请尽量清晰。
    include ../footer
    script(src='#{assets_head}/js/ajaxfileupload.js')
    script(src='#{assets_head}/js/loadingTip.js')
    script(src='#{assets_head}/js/messageTip.js')
    script
      
      var converter1 = Markdown.getSanitizingConverter();
      var editor1 = new Markdown.Editor(converter1);
      editor1.run();
      var converter2 = new Markdown.Converter();

      converter2.hooks.chain("preConversion", function (text) {
          return text.replace(/\b(a\w*)/gi, "*$1*");
      });
      
      converter2.hooks.chain("plainLinkText", function (url) {
          return "This is a link to " + url.replace(/^https?:\/\//, "");
      });

      