!!! 5
html
  head
    include ./../head
    title 问答 - 前端乱炖
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    style
      #act{
        background:url(http://htmljs.b0.upaiyun.com/images/act1-bg.jpg) no-repeat center top;
        background-attachment:fixed;
      }
  body#qas
    - locals.pageId=7;
    include ./../header
    #content.clearfix
      .left
        .actions
          a.btn(href="/qa/add") <i class="icon-plus icon-white"></i> 我要提问
          .right-actions
            - console.log(locals.filter_is_answered*1===1);
            a(class="#{(locals.filter_answer_count===undefined&&locals.filter_user_id==undefined)?'active':''}",href="/qa") 全部问题
            a(class="#{locals.filter_answer_count==='0'?'active':''}",href="/qa?filter=answer_count|0") 未回答
            if locals.user
              a(class="#{locals.filter_user_id==user.id?'active':''}",href="?filter=user_id|#{user.id}") 我的提问
        if locals.questions
          .qa-list
            each question,i in questions
              .qa-item(class="#{i%2==1?'yooo':''} #{question.answer_count==0?'new':''}")
                
                
                .entry-title
                  h2.title
                    
                    a(href='/qa/#{question.id}', title='#{question.title}', rel='bookmark') 
                      |#{question.title}
                    if question.answer_count == 0
                      span.label.tip.new New
                    else if question.answer_count >=7 || question.is_hot
                      span.label.tip.hot HOT
                    else if question.sort == 10000
                      span.label.tip.top 置顶
                  div.others
                    
                    span.views.item
                      span.index 浏览
                      a.value #{question.visit_count}
                    span.views.item
                      span.index 回答
                      a.value #{question.answer_count}
                    span.time.item
                      a.value #{moment(question.createdAt).fromNow()}
                    if question.tagNames
                      - var tags = question.tagNames.split(",")
                      span.tags.item
                        each tag in tags
                          a.value(href="/tag/n/#{tag}") #{tag}
                    
                    if locals.user&&locals.user.is_admin
                      span.actions.item
                        span.index 操作：
                        if question.sort ==10000
                          a(href="/qa/#{question.id}/update?sort=#{question.id}") 取消置顶
                        else
                          a(href="/qa/#{question.id}/update?sort=10000") 置顶
                        a(href="/qa/#{question.id}/update?is_hot=1") hot
                        a(href="/qa/#{question.id}/update?is_hot=0") nohot
                  div.user
                    a(data-original-title="#{question.user_nick}")
                      img(src="#{question.user_headpic}")
                      if question.user&&question.user.sex
                        if question.user.sex == '男'
                          .sex.nan
                        else
                          .sex.nv
                  if question.answer
                    div.answer.clearfix
                      .answer-user
                        a(data-original-title="#{question.answer.user_nick}")
                          img(src="#{question.answer.user_headpic}")
                      .answer-con !{question.answer.html.replace(/<[^>]*>/g,"").substr(0,100)}
                        |<a href="/qa/#{question.id}#answer-#{question.answer.id}">阅读更多</a>
          include ../page
      .right
        .module
          .bd 
            p 2013年9月出生。
            p 致力于为您解决各类技术问题。
            p 给人玫瑰，手留余香。
        .module.recent_answers
          .hd 最新回答
          .bd 
            if locals.recent_answers
              each ans in recent_answers
                div.item 
                  span #{ans.user_nick}：
                  a(href="/qa/#{ans.question_id}#answer-#{ans.id}",style="word-break:break-all;") #{ans.html.replace(/<[^>]*?>/g,"").substr(0,50)+"..."}
        
        .module.hot_questions
          .hd 热门问题
          .bd 
            if locals.hot_questions
              each q in hot_questions
                div.item 
                  a(href="/qa/#{q.id}") #{q.title}
                  // span (浏览：#{q.visit_count} 回答：#{q.answer_count})
        
    script
      $('.user a').tooltip({
          placement:"bottom"
      })
                
    include ../footer
