!!! 5
html
  head
    include ./../head
    title #{question.title} 前端乱炖-问答
    link(href='#{assets_head}/css/Markdown.Editor.css', type='text/css', rel='stylesheet', charset='utf-8')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-transition.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-modal.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/Markdown.Converter.js')
    script(src='#{assets_head}/js/Markdown.Sanitizer.js')
    script(src='#{assets_head}/js/Markdown.Editor.js')
    
    style
      #insertImageDialog { display:none; padding: 10px; position:absolute;width:400px;}
      #insertImageDialog h4 { margin-bottom: 10px; }
      #insertImageDialog input[type=text] { width: 260px; }
      #insertImageDialog .loading-small { display:none; float: left; padding-right: 5px; }
   
  body#qa
    - locals.pageId=7;
    include ./../header
    #content.clearfix
      .left
        .module.main
          .qa-title
            .title #{question.title}
          .qa-content
            .desc !{question.html.replace(/<code>/g,"<code class='language-javascript'>")}
          .qa-user.clearfix
            .action
              if (locals.user&&locals.user.is_admin) || (locals.user && locals.user.id==question.user_id)
                a(href="/qa/#{question.id}/edit") <i class="icon-pencil icon-gray"></i>编辑
              a#bdshare.bdshare_t.bds_tools.get-codes-bdshare(style="float:none;") 
                span.bds_more(style="background:none !important;float:none;display:inline;padding:0;") 分享
              if question.tagNames
                - var tags = question.tagNames.split(",")
                span.tags.item
                  each tag in tags
                    a.label.value(href="/tag/n/#{tag}") #{tag}
            .user
              img(src="#{question.user_headpic}")
              .nick
                a(href="/user/#{question.user_id}") #{question.user_nick} 
                em(title="经验值") #{question.user.coin||0}
              .time #{moment(question.createdAt).fromNow()}
        .qa-answers.module
          .hd 回答
          .bd 
            if !answers.length
              div 暂无回答
            else
              .answer-list
                each ans,i in answers
                  if !ans.is_unused
                    .answer-item.clearfix(id="answer-#{ans.id}",style="opacity:#{(10-i)/10}")
                      .ans-user.clearfix
                        a.user(href="/user/#{ans.user_id}")
                          img(src="#{ans.user_headpic}")
                          //.nick #{ans.user_nick}
                          //.time #{moment(ans.createdAt).fromNow()}
                        - var zanHistory = "";
                        - if(ans.answerZanHistory){ans.answerZanHistory.forEach(function(his){zanHistory+=(his.user_nick||"")+"，";})};
                        - if(zanHistory.length>0){zanHistory=zanHistory.substr(0,zanHistory.length-1)}
                        a.zan(href="#",data-id="#{ans.id}",data-original-title="此回答被 #{zanHistory} 赞过") 
                          
                          |<i class="icon-thumbs-up"></i>
                          em #{ans.zan_count||0}
                        
                      .ans-con 
                        .con-hd 
                          a(href="/user/#{ans.user_id}") #{ans.user_nick}
                          |<span style="color:#999;">(#{moment(ans.createdAt).fromNow()})</span>
                        .con-bd !{ans.html.replace(/<code>/g,"<code class='language-javascript'>")}
                        .con-action
                          if locals.user && locals.user.id == ans.user_id
                            a.edit(href="/qa/answer/#{ans.id}/edit") <i class="icon-pencil icon-gray"></i>编辑
                          a.add_comment(href="#",data-answer-id="#{ans.id}") <i class="icon-comment icon-gray"></i>评论 #{ans.comment_count}
                          a(target="_blank",href="http://service.weibo.com/share/share.php?url=#{encodeURIComponent("http://f2e.html-js.com/qa/"+question.id+"#answer-"+ans.id)}&title=分享自@前端乱炖 的精彩回答【#{question.title}】#{ans.user_nick}：#{ans.md.substr(0,100)}&appkey=659341943") 分享
                          if locals.user&&locals.user.is_admin
                            a(href="/qa/answer/#{ans.id}/update?is_unused=1") 无用
                        .con-comments.hidden(data-answer-id="#{ans.id}")
                          .comment-list(data-answer-id="#{ans.id}") 
                          .comment-publish
                            textarea.comment-content.input-block-level(placeholder="发表一些对此回答的看法",data-answer-id="#{ans.id}")
                            .btn.comment-submit(data-answer-id="#{ans.id}") 提交评论
                    
        .add-answer.module
          .hd 我来回答
          .publish.bd 
            form.form-horizontal#form(method='post')
              fieldset
                .fake-form
                  textarea(placeholder="我来回答,支持markdown语法")
                .real-form.hidden
                  .control-group
                    .wmd-panel
                      #wmd-button-bar
                      textarea.wmd-input#wmd-input(name="md",placeholder='请用心回答。')
                      .wmd-panel.wmd-preview
                        div 预览
                        #wmd-preview
                  .control-group
                    button.btn#submit(type='submit') 发表
            #myModal.modal.hide.fade.
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">插入图片</h3>
              </div>
              <div class="modal-body">
                  <input type="file" name="pic" id="file" />
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary">插入</button>
              </div>
        .qa-unused.module
          .hd 无用回答
          .bd
            .answer-list
              each ans in answers
                if ans.is_unused
                  .answer-item.clearfix(id="answer-#{ans.id}")
                    .ans-user.clearfix
                      a.user(href="/user/#{ans.user_id}")
                        img(src="#{ans.user_headpic}")
                        //.nick #{ans.user_nick}
                        //.time #{moment(ans.createdAt).fromNow()}
                      
                    .ans-con 
                      .con-hd 
                        a.nick(href="/user/#{ans.user_id}") #{ans.user_nick}
                        |<span style="color:#999;">(#{moment(ans.createdAt).fromNow()})</span>
                      .con-bd !{ans.html.replace(/<code>/g,"<code class='language-javascript'>")}
                      .con-action
                        if locals.user&&locals.user.is_admin
                          a.add_comment(href="#",data-answer-id="#{ans.id}") <i class="icon-comment icon-gray"></i>评论 #{ans.comment_count}
                          a(href="/qa/answer/#{ans.id}/update?is_unused=0") 有用
                      .con-comments.hidden(data-answer-id="#{ans.id}")
                        .comment-list(data-answer-id="#{ans.id}") 
                        .comment-publish
                          textarea.comment-content.input-block-level(placeholder="发表一些对此回答的看法",data-answer-id="#{ans.id}")
                          .btn.comment-submit(data-answer-id="#{ans.id}") 提交评论
      .right
        .module.count
          .bd
            span 浏览数：#{question.visit_count}
            span 回答数：#{question.answer_count}
        .module.share
          .hd 分享
          .bd 
            div#bdshare.bdshare_t.bds_tools.get-codes-bdshare.clearfix(style="width:300px;margin-top:10px;float:none;margin-left:0px;")
              a.bds_tsina
              a.bds_qzone
              a.bds_tqq
              a.bds_douban
              a.bds_renren
              a.shareCount
    script#comment-tpl(type="text/template")
      .comment-item.clearfix
        div.con 
          span.author.vcard.item
            a.value.url.fn(rel='author', href='/user/{{user.id}}') {{user.nick}}：
          span.content {{{content}}}
          span.time {{createdAt}}
          span.action 
            a.reply(data-nick="{{user.nick}}") 回复
    script(src='#{assets_head}/js/ajaxfileupload.js')
    script(src='#{assets_head}/js/loadingTip.js')
    script(src='#{assets_head}/js/messageTip.js')
    script(src='#{assets_head}/js/mustache.js')
    script(src='#{assets_head}/js/moment.js')
    script
      $('.zan').tooltip({
          placement:"bottom"
      })
      var comment_tpl = $("#comment-tpl").html()
      $(".zan").click(function(e){
        e.preventDefault();
        var self=this;
        $.ajax({
          url:"/qa/answer/"+$(this).attr("data-id")+"/zan",
          type:"post",
          dataType:"json",
          success:function(data){
          if(data.isnotlogin){
              alert("请先登录")
                window.location.href="/user/login"
            }else if(data.success){
              $("em",self).html(data.answer.zan_count)
            }else{
              alert(data.info)
            }
            
          }
          })
        })
      moment.lang('zh-cn')
      $(".add_comment").click(function(e){
        e.preventDefault()
        var con_comments= $(".con-comments[data-answer-id="+$(this).attr("data-answer-id")+"]")
        if(con_comments.hasClass("hidden")){
          loadingTip.show("努力加载中")
          HtmlJS.util.ajax("/qa/answer/"+$(this).attr("data-answer-id")+"/comment",{},"get",function(data){
              if(data.success){
                if(data.comments.length>0){
                $(".comment-list",con_comments).html("")
                }else{
                $(".comment-list",con_comments).html("暂无评论")
                }
                data.comments.forEach(function(comment){
                  comment.createdAt=moment(comment.createdAt).fromNow();
                  var html = Mustache.render(comment_tpl,comment);
                  
                  $(".comment-list",con_comments).append(html)
                  })
              }else{
                alert(data.info)
              }
              con_comments.removeClass("hidden")
                loadingTip.hide("努力加载中")
            },function(){
              loadingTip.hide("努力加载中")
            })
        }else{
          con_comments.addClass("hidden")
        }
        
          
        })
      $(".con-comments").click(function(e){
        if($(e.target).hasClass("reply")){
          $("textarea",this).val("@"+$(e.target).attr("data-nick")+" ").focus()
          $("textarea",this)[0].setSelectionRange($("textarea",this)[0].value.length, $("textarea",this)[0].value.length)
        }
        })
      $(".comment-submit").click(function(){
        var con_comments= $(".con-comments[data-answer-id="+$(this).attr("data-answer-id")+"]")
        loadingTip.show("努力提交中")
          var self = this;
        HtmlJS.util.ajax("/qa/answer/"+$(this).attr("data-answer-id")+"/comment",{content:$($(".comment-content[data-answer-id="+$(this).attr("data-answer-id")+"]")).val()},"post",function(data){
            if(data.success){
              if($(".comment-list .comment-item",con_comments).length==0){
                $(".comment-list",con_comments).html("")
              }
              data.comment.createdAt=moment(data.comment.createdAt).fromNow();
                var html = Mustache.render(comment_tpl,data.comment);
                
                $(".comment-list",con_comments).append(html)
                $("textarea",con_comments).val("")
            }else{
              alert(data.info)
            }
            loadingTip.hide("努力加载中")
          },function(){
            loadingTip.hide("努力加载中")
          },$(this),function(){
            HtmlJS.util.ajax("/qa/answer/"+$(self).attr("data-answer-id")+"/comment",{content:$($(".comment-content[data-answer-id="+$(self).attr("data-answer-id")+"]")).val()},"post",function(data){
              if(data.success){
                if($(".comment-list .comment-item",con_comments).length==0){
                  $(".comment-list",con_comments).html("")
                }
                data.comment.createdAt=moment(data.comment.createdAt).fromNow();
                  var html = Mustache.render(comment_tpl,data.comment);
                  
                  $(".comment-list",con_comments).append(html)
                  $("textarea",con_comments).val("")
              }else{
                alert(data.info)
              }
              loadingTip.hide("努力加载中")
            },function(){
              loadingTip.hide("努力加载中")
            },$(this),function(){
              
            })
          })
        })
      $(".fake-form textarea").click(function(){
        $(".fake-form").addClass("hidden")
        $(".real-form").removeClass("hidden")
        $(".real-form textarea").focus();
        })
      if(localStorage.getItem("textarea_qa_#{question.id}")){
      $(".fake-form").addClass("hidden")
        $(".real-form").removeClass("hidden")
        $(".real-form textarea").focus();
      }
      var converter1 = Markdown.getSanitizingConverter();
      var editor1 = new Markdown.Editor(converter1);
      editor1.run();
      var converter2 = new Markdown.Converter();

      converter2.hooks.chain("preConversion", function (text) {
          return text.replace(/\b(a\w*)/gi, "*$1*");
      });
      
      converter2.hooks.chain("plainLinkText", function (url) {
          return "This is a link to " + url.replace(/^https?:\/\//, "");
      });
      $("#wmd-input").val(localStorage.getItem("textarea_qa_#{question.id}"))
      $("#wmd-input").keyup(function(){
        localStorage.setItem("textarea_qa_#{question.id}",this.value)
        })
      $("#form").submit(function(e){
        e.preventDefault()
          HtmlJS.util.ajax("/qa/#{question.id}/add",$("#form").serialize(),"post",function(data){
            if(data.success){
              localStorage.setItem("textarea_qa_#{question.id}","")
              window.location.href="/qa/#{question.id}"
            }else{
              alert(data.info)
            }
          },function(){

          },$("#submit"),function(){
            HtmlJS.util.ajax("/qa/#{question.id}/add",$("#form").serialize(),"post",function(data){
              if(data.success){
                localStorage.setItem("textarea_qa_#{question.id}","")
                window.location.href="/qa/#{question.id}"
              }else{
                alert(data.info)
              }
            },function(){

            },$("#submit"),function(){
              
            })
          })
       
      })
      editor1.hooks.set('insertImageDialog', function(callback) {
        $("#myModal").modal("show");
        $("#file")[0].onchange=function(){
          $.ajaxFileUpload({
            url:"/upload", 
            secureuri:false,
            fileElementId:'file',
            dataType: 'json',
            success: function (data, status)
            {
              if(data.success){
                callback(data.data.filename)
                $("#myModal").modal("hide");
              }else{
                messageTip.show(data.info)
                
              }
              loadingTip.hide()
            },
            error:function(){
              
              loadingTip.hide()
            }
          })
        };
        return true; // tell the editor that we'll take care of getting the image url
      });    
    p.
      <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      var bds_config={"bdText":"【#{question.title}】分享自 @前端乱炖 问答频道，点击查看或者回答问题：","bdPic":"","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
    include ../footer
